body {    
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    font-family: Arial;
    background-color: #8bb2bc;
}

header {
    text-align: center;
}

.menu a {
    color: rgb(0, 0, 0);
    font-size: 14px;
}


figure {
    border: 2px solid black;
    padding: 5px;
    width: fit-content;
    text-align: center;
    margin-top: 5px;
    margin-left: 30px;
}

table, .info-box, figure {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    width: fit-content;
}

form {
    width: 100%;
    margin: auto;
    background: #5f919e;
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;

}

figure {
    z-index: 3;
    position: relative;
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}


.internal-menu ol {
    list-style-position: inside;
    padding: 0;
    margin: 0;
}

.internal-menu a {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.internal-menu a:hover {
    color: #e2b11d;
}

article {
    width: 100%;
    margin: 20px auto;
    display: block;
}